.intro {
  position: relative;
  padding: 27px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 0;
    margin: 0 0 700px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0 0;
  }
}

.intro__background {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 302px;
  background: url("../img/mobile/index/main/intro/background-cat.jpg") center no-repeat;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(104, 183, 56, 0.85);
    width: 100vw;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin: 0 auto 29px auto;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    row-gap: 41px;
    margin: 0 0 49px 88px;
  }
}

.intro__title {
  @include page-title-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include page-title;
    text-align: left;
  }
}

.intro__text {
  @include page-text-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include page-text;
    text-align: left;
  }
}

.intro__image {
  display: block;
  margin: 0 auto 3px auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 250px;
    left: 0;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

.intro__link {
  @include intro-button-text-mobile;
  display: grid;
  place-items: center;
  height: 40px;
  background-color: #68b738;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include intro-button-text;
    display: inline-flex;
    padding: 0 26px;
    height: 54px;
    margin: 0 0 0 88px;
  }
}
